<head>
  <title>{{title}}</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{canonical}}">
  <meta property="og:image" content="https://folio-dizajn.hr/assets/images/preview-image.png">
  <meta property="og:image:width" content="1600">
  <meta property="og:image:height" content="836">

  <link rel="canonical" href="{{canonical}}">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
