<!DOCTYPE html>
<html lang={{lang}}>
{{> header}}

<body>

<!-- Pre loader -->
{{> preloader}}

<!-- Search START -->
{{> search-start}}
<!-- Search END -->

<!-- =======================
Header START -->
{{> header-start}}
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Contact form and map START -->
  <section class="p-0 pb-4 pb-md-0 bg-dark position-relative">
    <div class="container">
      <div class="row g-0 justify-content-lg-between">
        <div id="container-feedback" class="col-md-6 bg-dark-start z-index-m9 position-relative h-md-800 d-flex align-items-center z-index-9">
          <div class="position-relative py-5 pe-0 pe-md-6">
            <h1 class="text-white-stroke">{{contactTranslation.contactForm.title}}</h1>
            <h6 class="text-white">{{contactTranslation.contactForm.subtitle}}</h6>
            <form class="contact-form form-dark form-line mt-5" id="contact-form" name="contactform" method="POST" action="assets/include/contact-action.php">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3 position-relative">
                    <input required id="con-name" name="name" type="text" class="form-control" placeholder="{{contactTranslation.contactForm.namePlaceholder}}">
                    <span class="focus-border"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3 position-relative">
                    <input required id="con-email" name="email" type="email" class="form-control" placeholder="{{contactTranslation.contactForm.emailPlaceholder}}">
                    <span class="focus-border"></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3 position-relative">
                    <input required id="con-subject" name="subject" type="text" class="form-control" placeholder="{{contactTranslation.contactForm.subjectPlaceholder}}">
                    <span class="focus-border"></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3 position-relative">
                    <textarea required id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="{{contactTranslation.contactForm.messagePlaceholder}}"></textarea>
                    <span class="focus-border"></span>
                  </div>
                </div>
                <div class="col-md-12 text-start">
                  <button class="btn btn-primary" type="submit">{{contactTranslation.contactForm.sendButton}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-md-full-right">
          <div class="position-md-absolute end-0 top-0 w-100 h-400 h-md-800 bg-dark">
            <iframe class="w-100 h-100 grayscale" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27830.532036779393!2d15.9599421!3d45.8131816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6d3a6de76c1%3A0x767c2074a3fc6f59!2sTrg%20bana%20Josipa%20Jela%C4%8Di%C4%87a%2C%2010000%2C%20Zagreb%2C%20Croatia!5e0!3m2!1sen!2shr!4v1725072600000"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Contact form and map END -->

  <!-- =======================
  Contact info START -->
  <section>
    <div class="container">
      <div class="row">
        <!-- Call -->
        <div class="col-md-6 col-lg-3">
          <div class="d-flex flex-row align-items-center mb-3">
          <span class="text-primary display-8 me-3">
            <i class="bi bi-headset"></i>
          </span>
            <h6 class="mt-2"><a href="#">{{contactTranslation.contactInfo.phoneTitle}}</a></h6>
          </div>
          <p>{{contactTranslation.contactInfo.phoneDescription}}</p>
        </div>
        <!-- Skype -->
        <div class="col-md-6 col-lg-3">
          <div class="d-flex flex-row align-items-center mb-3">
          <span class="text-primary display-8 me-3">
            <i class="bi bi-chat-left-text"></i>
          </span>
            <h6 class="mt-2"><a href="#">{{contactTranslation.contactInfo.skypeTitle}}</a></h6>
          </div>
          <p>{{contactTranslation.contactInfo.skypeDescription}}</p>
        </div>
        <!-- Email -->
        <div class="col-md-6 col-lg-3">
          <div class="d-flex flex-row align-items-center mb-3">
          <span class="text-primary display-8 me-3">
            <i class="bi bi-envelope"></i>
          </span>
            <h6 class="mt-2"><a href="#">{{contactTranslation.contactInfo.emailTitle}}</a></h6>
          </div>
          <p>{{contactTranslation.contactInfo.emailDescription}}</p>
        </div>
        <!-- Careers -->
        <div class="col-md-6 col-lg-3">
          <div class="d-flex flex-row align-items-center mb-3">
          <span class="text-primary display-8 me-3">
            <i class="bi bi-person-plus"></i>
          </span>
            <h6 class="mt-2"><a href="#">{{contactTranslation.contactInfo.careerTitle}}</a></h6>
          </div>
          <p>{{contactTranslation.contactInfo.careerDescription}}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Contact info END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
{{> footer-start}}
<!-- =======================
Footer END -->

<!-- Custom cursor -->
{{> custom-cursor}}

<!-- Back to top -->
{{> back-to-top}}

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
{{> bootstrap-js}}

<!-- Template Functions -->
{{> template-functions}}

</body>
</html>
